@import '../../../styles/index.scss';

.container {
    background-color: var(--clr-black);
    font-size: 13px;

    .wrapper {
        @include flex-column;
        gap: 2rem;
        padding: 2rem 4rem;
        @media (max-width: 500px){
            padding: 1rem;
        }
    }

    .content {
        @include flex;
        gap: 2rem;
        justify-content: space-between;

        @media (max-width: 1280px) {
            @include flex-wrap;
        }
        @media (max-width: 500px) {
            @include grid('1fr 1fr', 1rem)
        }
        @media (max-width: 435px){
            @include grid('1fr', 1rem)
        }

        .info {
            @include flex-column;
            gap: 1.5rem;
            min-width: 5rem;

            &>div {
                @include flex-column;
                gap: .5rem;
            }
        }

        .menu {
            @include flex-column;
            gap: 1rem;

            .list {
                @include flex-column;
                gap: .5rem;
                
                
                &>p {
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                } 
            }
        }

        .social {
            @include flex;
            gap: 4rem;
            //flex-direction: row;
            

            @media (max-width: 1400px) {
                @include flex-column;
                gap: 2rem;
            }

            @media (max-width: 1280px) {
                flex-direction: row;
                align-items: center;
                flex-grow: 1;
                @include flex-x-right;
            }
            
            @media (max-width: 900px) {
                flex-grow: unset;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: start;
            }

            &>.soc {
                gap: 1rem !important;
            }

            .button {
                [class*='MuiButton-root'] {
                    padding: .5rem 2.5rem !important;
                }
            }
        }

        
    }

    .payments {
        @include flex-wrap;
        gap: 2rem;
        justify-content: center;

        @media (max-width: 1280px) {
            gap: 1rem;
        }
        .item {
            background-color: rgba(var(--white), .1);
            padding: .5rem 2rem;
            border-radius: .3rem;
        }
    }
}